language: cpp

sudo: false

matrix:
  fast_finish: true
  include:
    - compiler: gcc
    - compiler: clang
  allow_failures:
    - compiler: clang
      env: LINT=ON

before_install:
  - pip install --user cpp-coveralls
  - if [ "${LINT}" ]; then
      wget http://archives.oclint.org/releases/0.8/oclint-0.8.1-x86_64-linux-3.13.0-35-generic.tar.gz;
      tar xvf oclint-0.8.1-x86_64-linux-3.13.0-35-generic.tar.gz;
      git clone https://github.com/bengardner/uncrustify;
      cd uncrustify;
      ./configure;
      make;
    fi

addons:
  apt:
    sources:
      ubuntu-toolchain-r-test
    packages:
      g++-4.8

before_script:
  - if [ "${CXX}" == "g++"  ]; then
      export CXX="g++-4.8" CC="gcc-4.8";
    fi

script:
  - export PATH=$PDW/uncrustify/src:$PWD/oclint-0.8.1/bin:$PATH
  - git submodule update --init --recursive
  - mkdir build && cd build && cmake -DCMAKE_CXX_FLAGS=--coverage -DCMAKE_EXE_LINKER_FLAGS=--coverage -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..
  - if [ "${LINT}" ]; then
      oclint ../include/dota2api/* ../tests/* -max-priority-1=0 -max-priority-2=0 -max-priority-3=0;
      cd ..;
      uncrustify -c uncrustify.cfg --no-backup tests/*test.cpp include/dota2api/*;
      git diff --exit-code tests/*test.cpp include/dota2api/*;
    else
      make VERBOSE=1;
      ./tests/testrunner;
    fi

after_success:
  - if [ "${CXX}" == "g++-4.8" ]; then
    cd .. && coveralls --gcov /usr/bin/gcov-4.8 --include include/dota2api;
    fi
