language: cpp

compiler:
  - clang
  - gcc

before_install:
  - pip install --user cpp-coveralls

script:
  - mkdir build && cd build && cmake -DCMAKE_CXX_FLAGS=--coverage -DCMAKE_EXE_LINKER_FLAGS=--coverage ..
  - make
  - ./tests/testrunner

after_success:
  - cd .. && coveralls --exclude tests --exclude build/CMakeFiles --exclude src/main.cpp
