environment:
  CURL_VERSION: 7.42.1
  matrix:
    - VS_VERSION: 12
      VS_PLATFORM: x64

before_build:
  - git submodule update --init --recursive

build_script:
  - cmake -H. -BBuild -G "Visual Studio %VS_VERSION%" -DCMAKE_GENERATOR_PLATFORM=%VS_PLATFORM% -DCURL_LIBRARIES=%APPVEYOR_BUILD_FOLDER%\curl-src\builds\libcurl-vc-x64-release-static-ipv6-sspi-winssl-obj-lib\libcurl_a.lib -DCURL_INCLUDE_DIRS=%APPVEYOR_BUILD_FOLDER%\curl-src\include
  - cmake --build Build

install:
  - ps: gem install coveralls-lcov
  - call .appveyor\build_curl.bat

test_script:
  - cd Build
  - cmd: ctest -C Debug -VV

cache:
  - curl-src -> .appveyor\build_curl.bat
