os: unstable

environment:
  BOOST_ROOT: c:\Libraries\boost
  BOOST_LIBRARYDIR: c:\Libraries\boost\stage\lib
  matrix:
    - VS_VERSION: 12
      VS_PLATFORM: win32
      ADDRESS_MODEL: 32
    - VS_VERSION: 12
      VS_PLATFORM: x64
      ADDRESS_MODEL: 64

before_build:
  - git submodule update --init --recursive
  - ps: appveyor DownloadFile "http://softlayer-dal.dl.sourceforge.net/project/boost/boost/1.57.0/boost_1_57_0.7z" -Timeout 1200000
  # - ps: 7z x boost_1_57_0.7z -y -o"c:\Libraries\boost" boost_1_57_0\boost > $null
  - cmd: cd c:\Libraries\boost
  - cmd: bootstrap
  - cmd: .\b2 --help
  - cmd: .\b2 variant=debug threading=multi runtime-link=shared address-model=%ADDRESS_MODEL%
  - ps: Get-ChildItem -Path c:\Libraries\boost\stage\lib
  - cd %APPVEYOR_BUILD_FOLDER%
  - cmake -H. -BBuild/VS -G "Visual Studio %VS_VERSION%" -DCMAKE_GENERATOR_PLATFORM=%VS_PLATFORM% -DBOOST_ROOT="%BOOST_ROOT%" -DBOOST_LIBRARYDIR="%BOOST_LIBRARYDIR%"

install:
  - ps: gem install coveralls-lcov

build:
  project: Build\VS\dota2cmd.sln

test_script:
  - cd Build
  - ctest -VV
