os: unstable

environment:
  BOOST_ROOT: c:\Libraries\boost
  BOOST_LIBRARYDIR: c:\Libraries\boost\stage\lib
  matrix:
    - VS_VERSION: 12
      VS_PLATFORM: x64
      ADDRESS_MODEL: 64

before_build:
  - git submodule update --init --recursive
  - cmd: if not exist %BOOST_LIBRARYDIR% cd c:\Libraries\boost
  - cmd: if not exist %BOOST_LIBRARYDIR% bootstrap
  - cmd: if not exist %BOOST_LIBRARYDIR% .\b2 variant=debug threading=multi runtime-link=shared address-model=%ADDRESS_MODEL%
  - cd %APPVEYOR_BUILD_FOLDER%

build_script:
  - cmake -H. -BBuild -G "Visual Studio %VS_VERSION%" -DCMAKE_GENERATOR_PLATFORM=%VS_PLATFORM% -DBOOST_ROOT="%BOOST_ROOT%" -DBOOST_LIBRARYDIR="%BOOST_LIBRARYDIR%"
  - cmake --build Build

install:
  - ps: gem install coveralls-lcov

test_script:
  - cd Build
  - ctest -VV -C "Debug"

cache:
  - C:\Libraries\boost
